<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>

    <title>博客详情页</title>

    <script src="js/jquery.min.js"></script>
    <script src="Semantic/semantic.min.js"></script>
    <link href="Semantic/semantic.min.css" rel="stylesheet">


    <link href="lib/typo/typo.css" rel="stylesheet">


    <script src="lib/prism/prism.js"></script>
    <link href="lib/prism/prism.css" rel="stylesheet">


    <link href="lib/animate.min.css" rel="stylesheet">


    <link href="css/common.css" rel="stylesheet">

    <script src="js/vue.js"></script>
    <script src="js/tool.js"></script>
    <script src="js/detail.js"></script>
    <link href="css/detail.css" rel="stylesheet">


</head>
<body>

<div class="ui attached segment animated slideInDown">


    <div class="ui breadcrumb black">
        <a href="index.html">blog</a>
        <div class="divider" id="temp"> /</div>
        <a class="section active">详情</a>

    </div>
</div>
<!-- 中间start -->

<div id="center" class="ui container stackable">

    <div class="ui grid stackable mobile reversed">

        <div class="ui four wide column stackable bordered">


            <div class="  ui list stackable animated slideInDown" id="info">

                <div class="sixteen ui wide column card stackable ">
                    <div class="ui list stackable sixteen">
                        <div class="item ">
                            <img class="ui medium circular image" id="icon" src="img/photo.jpg">
                        </div>
                        <div class="item ">Mine_希冀</div>
                        <div class="item ">但行好事 莫问前程</div>
                        <div class="item">

                            <i class="paper plane icon"></i> &nbsp;广东

                        </div>
                    </div>
                    <br>
                </div>
            </div>


            <!--<div class="ui skyscraper test ad" data-text="超高"></div>-->


        </div>

        <div class="twelve wide column stackable   animated slideInDown" id="blogBody">

            <div class="ui top attached segment center aligned">
                <div class="ui one column grid stackable">
                    <div class="column">
                        <h3 class="ui teal header">{{blogInfo.title}}</h3>
                    </div>
                </div>

                <div class="ui  divider">

                </div>

                <div class="ui mini horizontal link list stackable">

                    <div class="item">
                        <span class="original">{{copyright.copyrightFlag}}</span>
                    </div>
                    <div class="item">
                        <i class="clock outline icon"></i><span>{{blogInfo.publish_date}}</span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> <span>{{blogInfo.visitor_num}}</span>
                    </div>

                    <div class="item">
                        <i class="comment alternate icon"></i> <span>{{blogInfo.comment_num}}</span>
                    </div>
                </div>

            </div>


            <div class="ui attached segment center aligned">
                <div class="ui five wide column">
                    <a href="" class="center aligned coverImg">
                        <img :src="blogInfo.cover_img_path" alt="" class="ui rounded image">
                    </a>
                </div>
            </div>

            <div class="ui attached segment typo typo-selection" v-html="blogInfo.blog_body">

                <!--{{blogInfo.blog_body}}-->

            </div>

            <div class="ui attached positive segment left  ">


                <a target="_blank" class="ui blue basic label" v-for="item in blogTag ">
                    <i class=" tags icon left"></i>
                    {{item.name}}
                </a>

            </div>

            <div class="ui attached segment center aligned">


                <div class="ui attached positive message">
                    <div class="ui middle aligned grid">
                        <div class="eleven wide column">
                            <ul class="list">
                                <li>作者：<span>{{copyright.copyrightAuthor}}</span>
                                </li>
                                <li>时间：<span>{{blogInfo.publish_date}}</span>
                                </li>
                                <li>版权声明：{{copyright.copyrightInfo}}
                                    <br>
                                    原文链接：{{copyright.path}}
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--<div class="ui attached segment center aligned" id="PlayTour">-->
            <div class="ui attached segment center aligned " v-show="!admireFlag">


                <div class=" payShow ui label flowing transition backInDown iMarginBottom" id="PlayTourBody"
                     v-show="admireInfoFlag">
                    <div class="ui images">

                        <div class="image">
                            <img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1584886233933&amp;di=984c5adffbeee9133453b53cdfaa912f&amp;imgtype=0&amp;src=http%3A%2F%2Fd.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F4ec2d5628535e5dd24d1534b74c6a7efcf1b62a1.jpg"
                                 alt="">
                        </div>
                        <div class="image">
                            <img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1584886233933&amp;di=984c5adffbeee9133453b53cdfaa912f&amp;imgtype=0&amp;src=http%3A%2F%2Fd.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F4ec2d5628535e5dd24d1534b74c6a7efcf1b62a1.jpg"
                                 alt="">
                        </div>

                    </div>
                </div>

                <br>
                <button class="ui basic button orange PlayTourBtn" @click="admireClick()">
                    赞赏
                </button>


            </div>

        </div>

    </div>


    <div class="ui four wide column stackable right">
        &nbsp;
    </div>
    <div class="ui twelve wide column stackable right">


        <div class="ui bottom attached segment">
            <div id="comment-container" class="ui teal segment">
                <div>
                    <h3 class="ui teal header center aligned">评论区</h3>


                    <div class="ui threaded comments" id="commentList">
                        <div class="comment" v-for="(item,index) in comment">
                            <a class="avatar">
                                <img :src="item.icon_path">
                            </a>
                            <div class="content">


                                <a class="author">
                                    <span>{{item.nickname}}</span>
                                </a>
                                <div class="metadata">
                                    <span class="date">{{item.time}}</span>
                                </div>
                                <div class="text">
                                    <a class="iPaddingBottom" v-show="item.comment_id>0">
                                        回复 {{item.replyCommentName}}
                                    </a>


                                    <p class="commentContainer">
                                        {{item.body}}
                                    </p>


                                </div>
                                <div class="actions">
                               <span class="right">

                                   <a class="left "> {{index+1}} 楼</a>
                                   <a class="right iPaddingLeft" @click="replyClick(item.id,item.nickname)"> 回复</a>
                               </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div id="comment-form" class="ui form" v-show="!commentFlag">

                    <div class="field">
                    <textarea name="content" :placeholder="defaultCommentBody" v-model="commentBody">
                        {{ commentBody }}
                    </textarea>
                    </div>
                    <div class="fields">
                        <div class="m-margin-bottom-small m-mobile-wide  field">
                            <div class="ui m-margin-bottom-small m-mobile-wide left icon input iMarginBottom">
                                <i class="user icon"></i>
                                <input type="text" name="name" placeholder="昵称" v-model="commentNickName">
                            </div>
                        </div>

                        <div class=" m-margin-bottom-small m-mobile-wide  filed">
                            <button type="button" id="commentpost-btn"
                                    class="ui m-margin-bottom-small m-mobile-wide  teal button"
                                    @click="commentAddClick()">
                                <i class="edit icon"></i>发布
                            </button>
                            <button type="button" id="clear-btn"
                                    class="ui m-margin-bottom-small m-mobile-wide grey button"
                                    @click="commentClearClick()">

                                <i class="edit icon"></i>清除
                            </button>
                        </div>
                    </div>
                </div>

                <div class="ui" v-show="commentFlag">

                    <span> 本文禁止评论 </span>

                </div>

            </div>

        </div>


    </div>


</div>

<!-- 中间end -->


<div id="loading">
    <div class="loader"></div>
</div>


</body>
</html>
