/*通用样式*/


html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 320px;

    /*background: url("../img/bg.jpg") no-repeat center top;*/
    /*background-size: 100%;*/

}

body {
    overflow-y: scroll;
}

li{
    list-style: none;
}




#center{
    margin-top: 25px;
    /*min-height:400px;*/
    /*height: 100%;*/
}


nav .menu{
    margin-top: -10px;
}

#sidebar{
    position: absolute;
    top: 0;
    right: 0;
    margin-top:33px;
    display: none !important;
}


#info .item{

    margin-top: 10px;
    text-align: center;
}




.iOpacity{
    opacity: .8;
}




.iMarginTop{
    display: block;
    margin-top: 10px;
}


.iMarginLeft{
    display: block;
    margin-left: 10px;
}

.iMarginRight{
    display: block;
    margin-Right: 10px;

}



.iPaddingBottom{
    padding-bottom: 25px;
}

.iLeft{
    float: left;
}


.iBolgListImg{
    display: block;
    width: 100px;
    margin-top: 30px;
}





@media screen and (max-width: 768px){



    #sidebar{
        display: block !important;
    }

    .m-mobile-hide{

        display: none !important;
    }


    #login div.ui.vertical.divider{

        display: none;
    }

    #login div.ui.placeholder.segment{
        background: none;
    }

    .iFill{

        width: calc(100% + 2px);
    }


    #info .ui.card{
        width: 100%;
        max-width: 768px
    }




}
