
#icon{
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid gray;
    /*margin-top: 10px;*/
}

#info>.item{

    margin-top: 10px;
    text-align: center;
}



#hot a.item{
    display:inline-block ;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    line-height: 100%;
}





.ui.dropdown .item{
    width: 100%;
    margin-top: 10px;

}


#search{
    padding-left: 15%;
}


#iEditormd{
    z-index: 2 !important;
}

#upImg{
    margin-left: 50px;
}

#wrapper img{
    display: block;
    text-align: center;
    margin: 0 auto;

}


#fileUpload{
    display: none;
}


#hintCopyright{
    display: none;
}


@media screen and (max-width: 768px){



    .iBolgListImg{
        display: block;
        width: 100%;
        margin: 0 auto;
    }

}
