
html,body{
    width: 100%;
    min-width: 950px;
}


nav{
    z-index: 99 !important;
}


#icon{
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid gray;
    /*margin-top: 10px;*/
}



#info>.item{

    margin-top: 10px;
    text-align: center;
}



#hot a.item{
    display:inline-block ;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    line-height: 100%;
}





.ui.dropdown .item{
    width: 100%;
    margin-top: 10px;

}


#search{
    padding-left: 15%;
}


#iEditormd{
    z-index: 100 !important;
}

#upImg{
    margin-left: 50px;
}

#wrapper img{
    display: block;
    text-align: center;
    margin: 0 auto;

}


#fileUpload{
    display: none;
}


#hintCopyright{
    display: none;
}

.ui.table{
    width: 100% !important;
    table-layout:fixed!important;
}

#blogListBody{
    width: 100% !important;
}

#blogListBody tr{
    width: 90% !important;
    border: none !important;
}

#blogListBody tr td{
    padding: 0 !important;
}

#blogListBody tr td:first-child{
    width: 85%;
}


#blogListBody tr td .ui.segment{
    border: none !important;
}




.ui.container{
    width: 85% !important;
    position:relative
    /*min-width: 850px !important;*/
}



#blogListTab{
    border-top: none;
    position:absolute;
    left:0;
    top:29px;
}

#publishTab{
    position:absolute;
    left:0;
    top:43px;
    margin-top: 0px !important;
    border-top: none;

}


.ihide{
    z-index:-99999;
    opacity:0;
    height: 1310px !important;
}


.iInBottom>div:last-child{
    width: 200px;
}


.iInBottom{
    width: 350px;
}
