
#icon{
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid gray;
    /*margin-top: 10px;*/
}

#info>.item{

    margin-top: 10px;
    text-align: center;
}


#hot a.item{
    display:inline-block ;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    line-height: 100%;
}


#sidebar{
    position: absolute;
    top: 0;
    right: 0;
    display: none !important;
}




.original{
    font-size: 12px;
    display: inline-block;
    line-height: 20px;
    background: #009688;
    border-radius: 2px;
    color: #fff;
    padding: 1px 5px;
    position: inherit;
}


#PlayTour .label img{
    display: block;
    width: 120px;
}




@media screen and (max-width: 768px){
    #sidebar{
        display: block !important;
    }

    .m-mobile-hide{

        display: none !important;

    }
}
