
#icon{
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid gray;
    /*margin-top: 10px;*/
}

#info>.item{

    margin-top: 10px;
    text-align: center;
}


#hot a.item{
    display:inline-block ;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    line-height: 100%;
}


#sidebar{
    position: absolute;
    top: 0;
    right: 0;
    display: none !important;
}




.original{
    font-size: 12px;
    display: inline-block;
    line-height: 20px;
    background: #009688;
    border-radius: 2px;
    color: #fff;
    padding: 1px 5px;
    position: inherit;
}



#PlayTourBody  img{
    display: block;
    width: 120px;
}


.coverImg img{
    width: 100% !important;
    margin: 0 auto;
}



#commentList{

    width: 100% !important;
    max-width: 100% !important;
}


#commentList .comment>.avatar{
    width: 75px !important;

}


#commentList .comment{
    width: 100% !important;
    min-height: 80px !important;
    padding: 0px 5px 2px 5px !important;
    border: 1px solid transparent !important;
}



/*#commentList .commentContainer{*/
    /*text-indent:2em !important;*/
/*}*/


#commentList .text{

    margin-top: 5px !important;
    margin-bottom: 5px !important;
}



#commentList .comment:hover{

    border: 1px solid gray !important;
}


@media screen and (max-width: 768px){
    #sidebar{
        display: block !important;
    }

    .m-mobile-hide{

        display: none !important;

    }
}
